@import "tailwindcss";

@theme {
  --color-cyan-neon: #00d4ff;
  --color-pink-neon: #ff2a6d;
  --color-green-neon: #00ff88;
  --color-bg-dark: #050505;
  --color-card-dark: #0a0a0a;
}

body {
  margin: 0;
  background-color: var(--color-bg-dark);
  color: #ccc;
  font-family: 'Inter', sans-serif;
}
